doctype html
html
    head
      title create user
    body
      a(href = '/') Cancel and go back to user list.
      form
        span name
        input 
        br
        span user id
        input
        br
        span email address
        input
        br
        span age
        input
