doctype html
html
    head
      title create user
    body
      a(href = '/') Cancel and go back to user list.
      form(method='POST', action='/userTarget')
        span name
        input(name='name', value="who dat?", required)
        br
        span user id
        input(name='id', value="33-44-55-66", required)
        br
        span email address
        input(name='email', value="WhoDat?@hotmail.com", required)
        br
        span age
        input(name='age', value="12", required)
        br
        input(type='submit', value='Add', id='addPerson')
