doctype html
html
    head
      title create user
    body
      a(href = '/') Cancel and go back to user list.
      form(method='post' action='/')
        span name
        input(name='name')
        br
        span user id
        input(name='id')
        br
        span email address
        input(name='email')
        br
        span age
        input(name='age')
        br
        button ADD DAT USER BOI
