doctype html
html
    head
      title edit user
      link(rel='script' href='/script.js')
    body
      p this is soon to be the edit user page.
      a(href = '/') Cancel and go back to user list.
