doctype html
html
    head
      title user list
      script console.log('IT WORKS, ITS A CHRISTMAS MIRACLE');
      style 
    body
      h1(style='color:red') home fo yo broha and his brohas.
      h2 this is yo user view page
      a create user
      table
        tr
          td
